mixin sWe(data)
	// start sWe
	+b.sWe.section#sWe&attributes(attributes)
		.container
			+pic("we-img.png",'',0)
			img.img-text(src="img/svg/we.svg", alt="").res-i
			ul 
				li продвигаем объективный образ России среди иностранной молодежи 
				li укрепляем дружеские и&nbsp;профессиональные связи между росийской и&nbsp;иностранной молодежью
				li изучаем лучшие практики взаимодействия молодежных&nbsp;объединений
				li разрабатываем совместные&nbsp;проекты
			img.img-text-foot(src="img/svg/year.svg", alt="").res-i
	// end sWe