mixin sWe(data)
	// start sWe
	+b.sWe.section#sWe&attributes(attributes)
		.container
			+pic("we-img.png",'',0)(class="wow  animate__fadeIn  " )
			img.img-text(src="img/svg/we.svg", alt="" class="wow  animate__fadeIn  " ).res-i
			ul(class="wow  animate__fadeInUp  " ) 
				li продвигаем объективный образ России среди иностранной молодежи 
				li укрепляем дружеские и&nbsp;профессиональные связи между росийской и&nbsp;иностранной молодежью
				li изучаем лучшие практики взаимодействия молодежных&nbsp;объединений
				li разрабатываем совместные&nbsp;проекты
			img.img-text-foot(class="wow  animate__fadeInLeft  "   src="img/svg/year.svg", alt="").res-i
	// end sWe