mixin sWe(data)
	// start sWe
	+b.sWe.section#sWe&attributes(attributes)
		.container
			+pic("we-img.png",'',0)(class="wow  animate__fadeIn  " )
			.img-text( class="wow  animate__fadeIn  " )= data.we
			ul(class="wow  animate__fadeInUp  " ) 
				block
			.img-text-foot(class="wow  animate__fadeInLeft  " )= data.y
	// end sWe