mixin footer()
	footer.footer
		.container 
			.row
				+e.copy.col-auto © 2021. Международный молодежный форум «Евразия Global»
				.col-auto г.Оренбург ул. Девятого января 64
				.col-auto
					+soc()