mixin sPlatforms(data)
	// start sPlatforms
	+b.SECTION.sPlatforms.section#sPlatforms&attributes(attributes)
		.container
			+b.section-title
				h2 Партнерские площадки 
				
			+e.row.row
				.col
					p 
						span Проектные офисы международного молодежного сотрудничества  по&nbsp;направлениям:
					+e.row-sm.row
						+e.col.col-6 
							+e.place Россия
							+e.text Арктический  Совет
						+e.col.col-6 
							+e.place Россия
							+e.text БРИКС
					+e.row-sm.row
						+e.col.col-6 
							+e.place Россия
							+e.text Организация  исламского  сотрудничества
						+e.col.col-6 
							+e.place Россия
							+e.text Центрально-Азиатский регион

				.col.order-md-last
					p 
						span Росийско <br> -Сербский молодежный <br> диалог
					p 
						span Год  креативной  экономики
					p 
						span Сообщество <br> молодых соотечественников, проживающих  за&nbsp;рубежом
				.col-auto
					+pic('platform-img.jpg','',0)
	// end sPlatforms