mixin sPlatforms(data)
	// start sPlatforms
	+b.SECTION.sPlatforms.section#sPlatforms&attributes(attributes)
		.container
			+b.section-title(class="wow  animate__fadeInUp  " )
				h2= h2
				
			+e.row.row
				block
				.col-md-auto(class="wow  animate__fadeIn  " )
					+pic('platform-img.jpg','',0)
	// end sPlatforms