mixin sForm(data)
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title(class="wow  animate__fadeInLeft  " )
				block
			
			+form-wrap
				.row(class="wow  animate__fadeInRight  " )
					.col-lg-5
						+input(data.name,'text','', 'name')
						+input(data.tel,'tel')
						+input(data.email,'email')
					.col-lg-7.mb-4
						+input(data.text,'textarea')
					.col-lg-5.mb-4
						button.btn.btn-outline-body.w-100(type="submit")= data.btn
					.col.align-self-center.mb-4
						+e.polite!= data.policy
	// end sForm