mixin s2021(data)
	// start s2021
	+b.SECTION.s2021.section#s2021&attributes(attributes)
		.container
			.row
				+pic("img-2021.jpg")(class="wow  animate__fadeInRight  " )
				.col-xl-5.col-lg-6(class="wow  animate__fadeInLeft  " )
					+b.section-title
						h2 Международный год&nbsp;креативной экономики в&nbsp;целях устойчивого развития
				//- .col
				
	// end s2021