
mixin modal(data) 
	//  start modals

	+b.modal-win--reg(id="modal-reg" class=" " style="display: none" )
		.h2.fw-600.text-white= data.title
		.row
			.col
				+e.text!= data.text1
			.col-auto
				+e.btn-primary(href="https://myrosmol.ru/auth/registration/simple")!= data.btnReg
		+e.text2!= data.text2
		//- if data.ol
		//- 	ol
		//- 		li!= data.li1
		//- 		each li in data.ol
		//- 			li!= li
		.row
			.col-lg-6 
				+e.card(href="http://clck.ru/WBSqX")
					+e.DIV.title= data.t1
					+e.btn.btn.btn-outline-body(type="button")= data.btn
					+pic("type-1.png",'',0)
			//- .col-lg-6 
			//- 	+e.card(href="https://grants.myrosmol.ru/events/9efe94b8-d898-4f2c-b7e1-85867b1ac418")
			//- 		+e.DIV.title= data.t2
			//- 		+e.btn.btn.btn-outline-body(type="button")= data.btn
			//- 		+pic("type-2.png",'',0)

	// #modal-reg
	+b.modal-win--dark(id="modal-thanks" class=" " style="display: none" )
		.h2.fw-600.text-white= th
		.h4.text-white= thp


	// #modal-reg
	
	// end modals