mixin sMembers(data)
	// start sMembers
	+b.SECTION.sMembers#sMembers&attributes(attributes)
		.container.section
			.row
				.col-lg-6(class="wow  animate__fadeInUp  " )
					+b.section-title
						h2= data.h2
						+pic("member.jpg",'',0).img-man
						+e.tickets
							+pic("tickets.png",'',0)
				.col(class="wow  animate__fadeIn  " )
					block
	// end sMembers