mixin sMembers(data)
	// start sMembers
	+b.SECTION.sMembers#sMembers&attributes(attributes)
		.container.section
			.row
				.col-lg-6
					+b.section-title
						h2 Участники  форума
						+pic("member.jpg",'',0).img-man
						+e.tickets
							+pic("tickets.png",'',0)
				.col
					+e.title Молодежь от 18 до 30 лет:
					ul
						li Представители иностранной молодежи, заинтересованные в&nbsp;активном взаимодействии  с&nbsp;российской молодежью по&nbsp;различным  направлениям сотрудничества.

						li Молодые Российские Соотечественники, проживающие за&nbsp;рубежом. 

						li Молодые лидеры общественного мнения  из&nbsp;России и&nbsp;зарубежных стран. 

						li Российские и&nbsp;иностранные молодые специалисты, и&nbsp;профессионалы, осуществляющие свою деятельность в&nbsp;сфере международного молодежного сотрудничества. 

						li Молодые люди, имеющие идею проекта или готовый проект с&nbsp;прицелом на&nbsp;международное сотрудничество.
	// end sMembers