mixin sOrganizers(data)
	// start sOrganizers
	+b.SECTION.sOrganizers.section#sOrganizers&attributes(attributes)
		.container
			+b.section-title
				h2 Организаторы форума
			.row
				.col-auto
					img.res-i(src="img/svg/org-1.svg"  loading="lazy", alt="")
				.col-auto
					img.res-i(src="img/svg/org-2.svg"  loading="lazy", alt="")
				.col-auto
					img.res-i(src="img/svg/org-3.svg"  loading="lazy", alt="")
	// end sOrganizers