mixin headerBlock(data)
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.H1.title(class="wow  animate__fadeInLeft  " )!= data.title
			+e.col--small(class="wow  animate__fadeInRight  ")!= data.text
			+e.body.row.text-center
				.col-sm-auto
					+e.btn(href="#modal-reg" class="wow  animate__fadeInRight  " ).link-modal-js= data.btn
				.h4.col-sm-auto(class="wow  animate__fadeInRight  " )!= data.dat
		
		+e.img-wrap.d-none.d-xl-block
			img.img-after(src="img/@2x/webp/about-img.webp", alt=""  class="wow  animate__fadeIn  " ).d-none.d-md-block
	// end headerBlock