mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.H1.title(class="wow  animate__fadeInLeft  " ) Международный 	 молодежный форум	 Евразия Global
			+e.col--small.col-auto(class="wow  animate__fadeInRight  ") Форум, который объединяет молодежь со&nbsp;всего мира. Говорим на&nbsp;двух языках: русском и&nbsp;английском
			+e.body.row.text-center
				.col-sm-auto
					+e.btn(href="#modal-reg" class="wow  animate__fadeInRight  " ).link-modal-js Зарегистрироваться
				.h4.col-sm-auto(class="wow  animate__fadeInRight  " ) 2 — 8 сентября, Оренбург
		
		+e.img-wrap 
			img.img-after(src="img/@2x/webp/about-img.webp", alt=""  class="wow  animate__fadeIn  " ).d-none.d-md-block
	// end headerBlock