extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sWe/_sWe.pug
include ../blocks/s2021/_s2021.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sPrograms/_sPrograms.pug
include ../blocks/sPlatforms/_sPlatforms.pug
include ../blocks/sSupport/_sSupport.pug
include ../blocks/sOrganizers/_sOrganizers.pug
include ../blocks/sParticipation/_sParticipation.pug
include ../blocks/sForMedia/_sForMedia.pug

block variables
	- let  mainPage= null 
	- let  bg= null
	- let 

block title
	- let  title= 'The International Youth Forum “Eurasia Global”'
	title= title
	- let desc = "Forum that unites young people from all over the world.  We speak two languages: Russian and English"
	meta(name="description", content= desc)
	-
		let nav = { 
			link1: "About the Forum",
			link2: "Participants",
			link3: "Contact us",
			}
		let part = {
			text1: `Before applying for the forum you have to register on the AIS "Russian Youth".`,
			text2: `If have already registered on AIS "Russian Youth" - become a participant of the International Youth Forum "Eurasia Global"`,
			ol: [ 
					` Click on the "Events’" tab, where you will find the forum “Eurasia Global” (Registration for the participants).`,
					`Under the description of the event, you will find the button "Registration of foreign participants". Go ahead and fill in all the gaps. Tell everything honestly and in details.`,
					`Press the "Apply" button and wait for the letter, the organizers of the forum “Eurasia Global” will contact you after the end of the application campaign`, 
			],
			btnReg: `Register on AIS "Russian Youth"`
		}
block pagecontent
	+mob-mnu(nav)
	.bg-primary
		header.header
			+top-nav(nav)
				a.btn.btn-outline-body(href="/") Ru
		+headerBlock({
			title,
			text: desc,
			btn:` Participate`,
			dat:`September 2-8, Orenburg`,
		})
		
		.black-img-bg
			
			img.img-for-bg(src="img/svg/bg-dark.svg", alt="")
			+sAbout({
				title1:`Let’s meet in person`,
				text1:`Offline forum`,
				title2:`To stay online`,
				text2:`Online Forum`,
				text:`“Eurasia Global” is a platform for practically oriented <span>dialogue</span> between Russia and foreign countries. The Forum is held for the <span>6th time</span>, and throughout its history it united <span>4000 young people</span> from all over the world!  `
			})
			+sWe({
				we: 'We',
				y: ' 2021 '
			})
				li promote objective image of&nbsp;Russia among the foreign youth
				li strengthen friendly and professional relations between Russian and foreign youth
				li study the best practices of&nbsp;cooperation of&nbsp;youth associations
				li develop joint projects
		+s2021({
			title: `International Year of&nbsp;Creative Economy for Sustainable Development`,
			img: "img-2021-en.jpg"
		})
		+sMembers({h2: 'Forum participants'})
			+e.title Youth aged 18 to 35: 
			ul
				li Foreign youth representatives, interested in&nbsp;active interaction with Russian youth in&nbsp;different areas of&nbsp;cooperation.  
				li Young Russian Compatriots living abroad. 

				li Young opinion leaders from Russia and foreign countries.

				li Russian and foreign young specialists and professionals, working in the field of international youth cooperation.  

				li Young people with a project idea or a completed project aimed at international cooperation

		+sParticipation({
			h2: 'How to Participate',
			text1: part.text1,
			text2: part.text2,
			li1: `After the successful registration on the platform visit the site:  grants.myrosmol.ru. <br> <br> Choose your type of participation,  login using the same data you’ve entered before in AIS “Russian Youth”.`,
			ol: part.ol,
			btnReg: part.btnReg,
			btnReg2: `Apply for the Forum "Eurasia Global"`,
		})

		+sPrograms({
			h2: `Business programme`,
			btn: ` Participate`,
			list: [
				`Partnerships in education and competence development. New role of the human potential. `,
				`Cooperation and youth entrepreneurial partnership`,
				`From conscious consumption to sustainable development. Objectives and challenges for the young people who build the world for themselves and their descendants. `,
				`Voice of the youth - modern media and communication means.`,
			]
		})
		+sPlatforms({
			h2: `Partner platforms`
		})
			.col-sm(class="wow  animate__fadeInLeft  " )
				p 
					span Project offices of&nbsp;international youth cooperation in&nbsp;the following areas:
				+e.row-sm.row
					+e.col.col-6 
						+e.place Russia 
						+e.text Arctic Council
					+e.col.col-6 
						+e.place Russia
						+e.text BRICS
				+e.row-sm.row.pb-sm-0.pb-3
					+e.col.col-6 
						+e.place Russia
						+e.text Organisation of Islamic Cooperation
					+e.col.col-6 
						+e.place Russia
						+e.text Central Asian Region

			.col-sm.order-md-last(class="wow  animate__fadeInRight  " )
				p 
					span Russian-Serbian Youth Dialogue
				p 
					span Year of Creative Economy
				p 
					span Eurasian Economic Commission Youth Council
				p 
					span Community of the Young Compatriots Living Abroad
		+sSupport({
			title: 'Grant support ',
			p:'Grant Contest of the Federal Agency for Youth Affairs For Russian participants of the Forum ',
			img: `support-1`,
			p2: "Grant Competition of the Alexander Gorchakov Public Diplomacy Fund for foreign participants of the Forum",
			img2: `support-2`
		})

		+sForMedia({
			h2:'Media Info',
			headText: `
			
			<div class="h3 strong "> Rules for media representatives at&nbsp;the International Youth Forum Eurasia Global in&nbsp;2021</div>

			<div class="h3 fw-400 ">Due to&nbsp;the special epidemiological situation in&nbsp;the Russian Federation, and according to&nbsp;the recommendations of&nbsp;Rospotrebnadzor, we&nbsp;ask you to&nbsp;follow simple rules: wear masks on&nbsp;the territory of&nbsp;the Forum, as&nbsp;well as&nbsp;observe a&nbsp;1.5 meters distance.</div>

			<div class="h3 fw-400">Besides, temperature control will be&nbsp;conducted as&nbsp;a&nbsp;measure to&nbsp;prevent the spread of&nbsp;coronavirus.</div>

			<div class="h3 fw-400">In&nbsp;case you do&nbsp;not attend the Forum, the press service is&nbsp;ready to&nbsp;provide all the necessary information in&nbsp;electronic form (photos, videos, press releases, post-releases), for this you need to&nbsp;send a&nbsp;request&nbsp;to <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>. </div>


			<div class="h3 fw-400">When staying on&nbsp;the territory of&nbsp;the forum, it&nbsp;is&nbsp;necessary to&nbsp;observe  <a href="https://www.rospotrebnadzor.ru/about/info/news_time/news_details.php?ELEMENT_ID=13566" target="_blank">preventive measures</a>  and adhere to&nbsp;all the rules of&nbsp;the Forum.</div>
			<br>
			<br>
				<div class="h3 strong ">Media accreditation </div>
				<div class="h3 fw-400">To&nbsp;work at&nbsp;the International Youth Forum Eurasia Global, you must be&nbsp;accredited by&nbsp;the Forum&rsquo;s press service.</div>
			<div class="h3 fw-400">To&nbsp;participate in&nbsp;the event, media representatives (or&nbsp;their editorial offices) need to&nbsp; <a href="https://disk.yandex.ru/i/IZUoPto_IkwziQ" >download the form</a>, fill it&nbsp;out and send it&nbsp;to&nbsp; <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>. The form must be&nbsp;filled out for each media representative and employee present on&nbsp;the territory (including technical staff, drivers, assistants).</div>
			
			`, 
			h40:`IMPORTANT INFORMATION:`,
			list0: [
				`<strong>24&nbsp;hours before arrival at&nbsp;the Forum, in&nbsp;addition to&nbsp;accreditation, please, send to&nbsp; <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a> a&nbsp;certificate of&nbsp;vaccination from COVID-19&nbsp;or the result of&nbsp;the PCR test. In&nbsp;the absence of&nbsp;medical data, the Forum&rsquo;s media service has the right to&nbsp;refuse accreditation and not allow access to&nbsp;the site.</strong>`,
				`<span class="tdu">On&nbsp;the day of&nbsp;visiting the Forum, it&nbsp;is&nbsp;necessary to&nbsp;have with you:</span> <br>
				<strong>&mdash;&nbsp;An&nbsp;identity document; 
				<br>
				&mdash;&nbsp;A&nbsp;certificate of&nbsp;vaccination from COVID-19&nbsp;or the result of&nbsp;a&nbsp;PCR test made no&nbsp;later than 72&nbsp;hours before arriving at&nbsp;the Forum site.</strong>`,
				`<strong>Without accreditation and medical data (vaccination certificate/ PCR test) the entrance to&nbsp;the forum territory is&nbsp;prohibited. Accreditation is&nbsp;carried out no&nbsp;later than 24&nbsp;hours before arrival at&nbsp;the forum.</strong>
				<span class="tdu">The Forum administration reserves the right to&nbsp;refuse accreditation to&nbsp;media representatives over the age of&nbsp;65&nbsp;in&nbsp;order not to&nbsp;expose them to&nbsp;the risks associated with COVID-19.</span>`,
				
				`&mdash;&nbsp;All questions re&nbsp;accreditation can be&nbsp;sent&nbsp;to <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>.`
				],
			h4:`To obtain accreditation: `,
			list: [
				`Russian journalists must have a&nbsp;press card and be&nbsp;on&nbsp;the staff of&nbsp;a&nbsp;media registered with Roskomnadzor;`,
				`Foreign journalists must have accreditation with the Ministry of&nbsp;Foreign Affairs of&nbsp;the Russian Federation.`,
				`Press service staff inform accredited journalists on&nbsp;their accreditation;`,
				`The work of&nbsp;media representatives on&nbsp;the site is&nbsp;to&nbsp;be&nbsp;agreed in&nbsp;advance and confirmed by&nbsp;the Forum&rsquo;s press service;`,
				`Media representatives on&nbsp;the site are accompanied by&nbsp;the press service of&nbsp;the Forum. The media service of&nbsp;the Forum is&nbsp;entitled to&nbsp;refuse the media to&nbsp;grant accreditation to&nbsp;its journalists without explaining the reason.`
				],
			bodyText: `
				<div class="h3 strong ">The forum&rsquo;s media service shares useful resources with you:  &mdash;&nbsp;photos are available in&nbsp;our social networks. </div>
			`,
			h41:`Contact information for media representatives<br> <span class="fw-400">You can always call&nbsp;us:
			</span>`,
			t1:`Anastasia Kandrakhina`,
			p1:`Media Specialist`,
			t2:`Anastasia Potychkina `,
			p2:`Head of the Forum's Press service `,
			emText:`Or write to:   `,
			emText2:`We&nbsp;will be&nbsp;happy to&nbsp;answer all your questions and guide you! `,
			items:[
				{
					title:`Подписка на обновления сайта Международного молодежного форума «Евразия Global»`,
					text1:`Вы можете подписаться на ежедневную тематическую рассылку, отправив запрос на эл.адрес: <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>`,
					text2:`Для включения в базу рассылки необходимо направить запрос на электронную почту, указав в теле письма название СМИ, регион, сайт издания, имя представителя СМИ, его сотовый телефон, а также должность отправителя запроса и адрес почты для рассылки. В теме письма указать: «Запрос на рассылку».` },
				{
					title:`Использование фотоматериалов пресс-службы форума`,
					text1:`Банк фотографий высокого разрешения доступен по отдельному запросу на адрес: <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>`,
					text2:`В теме письма указать: «Запрос на фото».
Фотоматериалы форума также обновляются в ежедневном формате и доступны на сайте forumeurasia.ru`,
					

				},
				{
					title:`Запрос на предоставление информации о делегациях регионов`,
					text1:`Представители региональных телеканалов могут направить запрос в пресс-службу форума на электронную почту <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a> о предоставлении видеоматериалов о делегации города или региона для включения материала в ротацию новостных выпусков.`,
					text2:`Срок и техническое задание предоставления материалов оговаривается по каждому запросу отдельно.
					В теме письма указать «Запрос видеоматериала».
					Требования к телеканалам: наличие официального свидетельства о регистрации СМИ.`,
				},
				


				{
					title:`Запрос на комментарий спикера форума`,
					text1:`Запрос на предоставление комментария спикера форума направляется на электронную почту <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>.`,
					text2:`В теле письма указывается название СМИ, регион, сайт СМИ, имя спикера, тематика готовящегося материала, сам вопрос, а также имя, мобильный телефон и должность отправителя запроса. В теме письма указать «Запрос комментария спикера»`,

					


				},
			]
		})


		+sOrganizers({
			title: 'Forum organizers ',
			image1:'org-en-1.svg', 
			image2:'org-2.svg', 
			image3:'org-3.png' 

		})
		+sForm({
			name:'Your name',
			tel:'Phone number',
			email:'Your e-mail',
			text:'Your question',
			btn:'Send',
			policy: `I agree to the Terms of  <a href="#"> processing of my personal data.</a>`,
			t1:`Russian Participants <br> Service`,
			t2:`Foreign Participants <br> Service`,
			t3:`Volunteer<br> Corps`,
		})
			h2 Still have some questions?
			.h4  Ask them and we will respond ASAP
		//- +sContact()
		+footer()
			+e.copy.col-auto © 2021. The International Youth Forum Eurasia Global
			.col-auto Orenburg,January 9th street, 64
		+modal({
			title: "Choose your type of participation",
			t1:"Online participant",
			t2:"Forum volunteer",
			btn:"Participate",
			th: "Thank you for contacting us, ",
			thp: " we will get back to you as soon as possible!",
			text1: part.text1,
			text2: part.text2,
			li1: `After the successful registration on the platform visit the site:  grants.myrosmol.ru. <br> Login using the same data you’ve entered before in AIS “Russian Youth”.`,
			ol: part.ol,
			btnReg: part.btnReg,
		})



