extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sWe/_sWe.pug
include ../blocks/s2021/_s2021.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sPrograms/_sPrograms.pug
include ../blocks/sPlatforms/_sPlatforms.pug
include ../blocks/sSupport/_sSupport.pug
include ../blocks/sOrganizers/_sOrganizers.pug
include ../blocks/sParticipation/_sParticipation.pug

block variables
	- let  mainPage= null 
	- let  bg= null
	- let 

block title
	- let  title= 'Международный молодежный форум Евразия Global'
	title= title
	meta(name="description", content="Форум, который объединяет молодежь со всего мира")
	-
		let nav = { 
			link1: "Что такое Евразия",
			link2: "Участникам",
			link3: "Связаться с нами",
			}
	-
		let part = {
			text1: `Перед тем как зарегистрироваться на&nbsp;сам форум тебе необходимо для начала зарегистрироваться в&nbsp;АИС &laquo;Молодежь России&raquo;.`,
			text2: `Если ты&nbsp;уже зарегистрирован в&nbsp;АИС &laquo;Молодежь России&raquo;&nbsp;&mdash; становись Online-участником форума «Евразия Global»`,
			ol: [
					`Переходи во&nbsp;вкладку &laquo;Мероприятие&raquo;, там ты&nbsp;найдешь форум Евразия Global (регистрация участников)`,
					`Под описанием мероприятия ты&nbsp;найдешь кнопку &laquo;Регистрация иностранных участников&raquo;. Переходи и&nbsp;заполняй все поля. Рассказывай все честно и&nbsp;объемно.`,
					`Нажимай кнопку &laquo;Подать заявку&raquo; и&nbsp;жди письма, с&nbsp;тобой свяжутся организаторы форума Евразия Global после завершения заявочной кампании.`, 
			],
			btnReg: `Зарегистрироваться <br> в АИС «Молодежь России» `
		}
block pagecontent
	+mob-mnu(nav)
	.bg-primary
		header.header
			+top-nav(nav)
				a.btn.btn-outline-body(href="en.html") Eng
		+headerBlock({
			title,
			text: desc,
			btn:` Зарегистрироваться`,
			dat:` 2 — 8 сентября, Оренбург`,
			text: `Форум, который объединяет молодежь  со&nbsp;всего мира. Говорим на&nbsp;двух языках: русском и&nbsp;английском`
		})
		
		.black-img-bg
			
			img.img-for-bg(src="img/svg/bg-dark.svg", alt="")
			+sAbout({
				title1:`Встречаемся  лично`,
				text1:`Оффлайн форум`,
				title2:`Транслируем в&nbsp;мир`,
				text2:`Онлайн трансляции`,
				text:`&laquo;Евразия Global&raquo;&nbsp;&mdash; площадка практико- ориентированного <span> диалога</span> молодежи России  и&nbsp;иностранных государств. Форум проводится  в&nbsp;<span> 6&nbsp;раз</span> и&nbsp;за&nbsp;всю свою историю объединил более  <span> 4000 молодых людей</span> со&nbsp;всего мира!`
			})
			+sWe({
				we: 'Мы',
				y: ' 2021 год'
			})
				li продвигаем объективный образ России среди иностранной молодежи 
				li укрепляем дружеские и&nbsp;профессиональные связи между росийской и&nbsp;иностранной молодежью
				li изучаем лучшие практики взаимодействия молодежных&nbsp;объединений
				li разрабатываем совместные&nbsp;проекты
		+s2021({
			title: ` Международный год&nbsp;креативной экономики в&nbsp;целях устойчивого развития`
		})
		+sMembers({h2: 'Участники  форума'})
			+e.title Молодежь от 18 до 35 лет:
			ul
				li Представители иностранной молодежи, заинтересованные в&nbsp;активном взаимодействии  с&nbsp;российской молодежью по&nbsp;различным  направлениям сотрудничества.

				li Молодые Российские Соотечественники, проживающие за&nbsp;рубежом. 

				li Молодые лидеры общественного мнения  из&nbsp;России и&nbsp;зарубежных стран. 

				li Российские и&nbsp;иностранные молодые специалисты, и&nbsp;профессионалы, осуществляющие свою деятельность в&nbsp;сфере международного молодежного сотрудничества. 

				li Молодые люди, имеющие идею проекта или готовый проект с&nbsp;прицелом на&nbsp;международное сотрудничество.
		+sParticipation({
			h2: 'Как принять участие',
			text1: part.text1,
			text2: part.text2,
			li1: `После успешной регистрации на&nbsp;платформе переходи к&nbsp;регистрации на&nbsp;форум. Выбери вариант участия и&nbsp;авторизуйся при помощи тех&nbsp;же данных, которые вводил в&nbsp;АИС &laquo;Молодежь России&raquo;`,
			ol: part.ol,
			btnReg: part.btnReg,
			btnReg2: `Стать Online-участником`,
		})
		+sPrograms({
			h2: `Деловая программа`,
			btn: `Зарегистрироватьcя`,
			list: [
				`Партнерства  в&nbsp;образовании  и&nbsp;развитии компетенций.  Новая&nbsp;роль человеческого потенциала.`,
				` Кооперация и предпринимательское молодежное сотрудничество`,
				`От&nbsp;осознанного потребления  к&nbsp;устойчивому  развитию. Задачи  и&nbsp;вызовы для молодежи, которая строит мир для  себя&nbsp;и&nbsp;своих  потомков`,
				`Голос молодежи&nbsp;&mdash; современные  медиа и&nbsp;способы коммуникации`,
			]
		})
		+sPlatforms({
			h2: `Партнерские площадки `
		})
			.col-sm(class="wow  animate__fadeInLeft  " )
				p 
					span Проектные офисы международного молодежного сотрудничества  по&nbsp;направлениям:
				+e.row-sm.row
					+e.col.col-6 
						+e.place Россия
						+e.text Арктический  Совет
					+e.col.col-6 
						+e.place Россия
						+e.text БРИКС
				+e.row-sm.row.pb-sm-0.pb-3
					+e.col.col-6 
						+e.place Россия
						+e.text Организация  исламского  сотрудничества
					+e.col.col-6 
						+e.place Россия
						+e.text Центрально-Азиатский регион

			.col-sm.order-md-last(class="wow  animate__fadeInRight  " )
				p 
					span Российско-Сербский молодежный  диалог
				p 
					span Год  креативной  экономики
				p 
					span Сообщество  молодых соотечественников, проживающих  за&nbsp;рубежом
		+sSupport({
			title: 'Грантовая поддержка участников',
			p:'Грантовый конкурс молодежных инициатив для российских участников',
			img: `support-1`,
			p2: "Грантовый конкурс Фонда поддержки публичной дипломатии имени А.М.Горчакова  для иностранной молодежи",
			img2: `support-2`
		})
		+sOrganizers({
			title: 'Организаторы форума',
			image1:'org-1.svg', 
			image2:'org-2.svg', 
			image3:'org-3.svg' 

		})
		+sForm({
			name:'Ваше имя',
			tel:'Номер телефона',
			email:'E-mail',
			text:'Ваш вопрос',
			btn:'Отправить',
			policy: `Соглашаюсь с&nbsp;условиями  <a href="#"> обработки персональных данных </a>`,
			t1:`Служба по&nbsp;работе  с&nbsp;участниками (РФ)`,
			t2:`Служба по&nbsp;работе  с&nbsp;иностранными участниками`,
			t3:`Волонтёрский  <br> корпус`,
		})
			h2 Остались вопросы?
			.h4 Задайте их&nbsp;нам и&nbsp;мы&nbsp;ответим Вам в&nbsp;кратчайшие сроки
		//- +sContact()
		+footer()
			+e.copy.col-auto © 2021. Международный молодежный форум «Евразия Global»
			.col-auto г.Оренбург ул. Девятого января 64

		
		+modal({
			title: "Выберите тип участия ",
			t1:"Участник Online",
			t2:"Волонтер форума",
			btn:"Зарегистрироваться",
			th: "Спасибо за вопрос, ",
			thp: "вернемся с ответом в ближайшее время!",
			text1: part.text1,
			text2: part.text2,
			li1: `После успешной регистрации на платформе выбирай вариант участия "Участник" или "Волонтер", мы перенаправим тебя на сайт grants.myrosmol.ru <br> <br> Авторизуйся, используя те же данные, которые вводил в АИС "Молодежь России"`,
			ol: part.ol,
			btnReg: part.btnReg,
		})





