extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sWe/_sWe.pug
include ../blocks/s2021/_s2021.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sPrograms/_sPrograms.pug
include ../blocks/sPlatforms/_sPlatforms.pug
include ../blocks/sSupport/_sSupport.pug
include ../blocks/sOrganizers/_sOrganizers.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Международный молодежный форум Евразия Globa'
	title= title
	meta(name="description", content="Форум, который объединяет молодежь со всего мира")
block pagecontent
	+mob-mnu()
	.bg-primary
		header.header
			+top-nav()
		+headerBlock
		
		.black-img-bg
			img.img-after(src="img/@2x/webp/about-img.webp", alt="").d-none.d-md-block
			img.img-for-bg(src="img/svg/bg-dark.svg", alt="")
			+sAbout
			+sWe
		+s2021
		+sMembers
		+sPrograms
		+sPlatforms
		+sSupport
		+sOrganizers
		+sForm()
		//- +sContact()
		+footer()
				



