extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sWe/_sWe.pug
include ../blocks/s2021/_s2021.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sPrograms/_sPrograms.pug
include ../blocks/sPlatforms/_sPlatforms.pug
include ../blocks/sSupport/_sSupport.pug
include ../blocks/sOrganizers/_sOrganizers.pug
include ../blocks/sParticipation/_sParticipation.pug
include ../blocks/sForMedia/_sForMedia.pug

block variables
	- let  mainPage= null 
	- let  bg= null
	- let 

block title
	- let  title= 'Международный молодежный форум Евразия Global'
	title= title
	meta(name="description", content="Форум, который объединяет молодежь со всего мира")
	-
		let nav = { 
			link1: "Что такое Евразия",
			link2: "Участникам",
			link3: "Связаться с нами",
			}
	-
		let part = {
			text1: `Перед тем как зарегистрироваться на&nbsp;сам форум тебе необходимо для начала зарегистрироваться в&nbsp;АИС &laquo;Молодежь России&raquo;.`,
			text2: `Если ты&nbsp;уже зарегистрирован в&nbsp;АИС &laquo;Молодежь России&raquo;&nbsp;&mdash; становись Online-участником форума «Евразия Global»`,
			ol: [
					`Переходи во&nbsp;вкладку &laquo;Мероприятие&raquo;, там ты&nbsp;найдешь форум Евразия Global (регистрация участников)`,
					`Под описанием мероприятия ты&nbsp;найдешь кнопку &laquo;Регистрация иностранных участников&raquo;. Переходи и&nbsp;заполняй все поля. Рассказывай все честно и&nbsp;объемно.`,
					`Нажимай кнопку &laquo;Подать заявку&raquo; и&nbsp;жди письма, с&nbsp;тобой свяжутся организаторы форума Евразия Global после завершения заявочной кампании.`, 
			],
			btnReg: `Зарегистрироваться <br> в АИС «Молодежь России» `
		}
block pagecontent
	+mob-mnu(nav)
	.bg-primary
		header.header
			+top-nav(nav)
				a.btn.btn-outline-body(href="en.html") Eng
		+headerBlock({
			title,
			text: desc,
			btn:` Зарегистрироваться`,
			dat:` 2 — 8 сентября, Оренбург`,
			text: `Форум, который объединяет молодежь  со&nbsp;всего мира. Говорим на&nbsp;двух языках: русском и&nbsp;английском`
		})
		
		.black-img-bg
			
			img.img-for-bg(src="img/svg/bg-dark.svg", alt="")
			+sAbout({
				title1:`Встречаемся  лично`,
				text1:`Оффлайн форум`,
				title2:`Транслируем в&nbsp;мир`,
				text2:`Онлайн трансляции`,
				text:`&laquo;Евразия Global&raquo;&nbsp;&mdash; площадка практико- ориентированного <span> диалога</span> молодежи России  и&nbsp;иностранных государств. Форум проводится  в&nbsp;<span> 6&nbsp;раз</span> и&nbsp;за&nbsp;всю свою историю объединил более  <span> 4000 молодых людей</span> со&nbsp;всего мира!`
			})
			+sWe({
				we: 'Мы',
				y: ' 2021 год'
			})
				li продвигаем объективный образ России среди иностранной молодежи 
				li укрепляем дружеские и&nbsp;профессиональные связи между росийской и&nbsp;иностранной молодежью
				li изучаем лучшие практики взаимодействия молодежных&nbsp;объединений
				li разрабатываем совместные&nbsp;проекты
		+s2021({
			title: ` Международный год&nbsp;креативной экономики в&nbsp;целях устойчивого развития`
		})
		+sMembers({h2: 'Участники  форума'})
			+e.title Молодежь от 18 до 35 лет:
			ul
				li Представители иностранной молодежи, заинтересованные в&nbsp;активном взаимодействии  с&nbsp;российской молодежью по&nbsp;различным  направлениям сотрудничества.

				li Молодые Российские Соотечественники, проживающие за&nbsp;рубежом. 

				li Молодые лидеры общественного мнения  из&nbsp;России и&nbsp;зарубежных стран. 

				li Российские и&nbsp;иностранные молодые специалисты, и&nbsp;профессионалы, осуществляющие свою деятельность в&nbsp;сфере международного молодежного сотрудничества. 

				li Молодые люди, имеющие идею проекта или готовый проект с&nbsp;прицелом на&nbsp;международное сотрудничество.
		+sParticipation({
			h2: 'Как принять участие',
			text1: part.text1,
			text2: part.text2,
			li1: `После успешной регистрации на&nbsp;платформе переходи к&nbsp;регистрации на&nbsp;форум. Выбери вариант участия и&nbsp;авторизуйся при помощи тех&nbsp;же данных, которые вводил в&nbsp;АИС &laquo;Молодежь России&raquo;`,
			ol: part.ol,
			btnReg: part.btnReg,
			btnReg2: `Стать Online-участником`,
		})
		+sPrograms({
			h2: `Деловая программа`,
			btn: `Зарегистрироватьcя`,
			list: [
				`Партнерства  в&nbsp;образовании  и&nbsp;развитии компетенций.  Новая&nbsp;роль человеческого потенциала.`,
				` Кооперация и предпринимательское молодежное сотрудничество`,
				`От&nbsp;осознанного потребления  к&nbsp;устойчивому  развитию. Задачи  и&nbsp;вызовы для молодежи, которая строит мир для  себя&nbsp;и&nbsp;своих  потомков`,
				`Голос молодежи&nbsp;&mdash; современные  медиа и&nbsp;способы коммуникации`,
			]
		})
		+sPlatforms({
			h2: `Партнерские площадки `
		})
			.col-sm(class="wow  animate__fadeInLeft  " )
				p 
					span Проектные офисы международного молодежного сотрудничества  по&nbsp;направлениям:
				+e.row-sm.row
					+e.col.col-6 
						+e.place Россия
						+e.text Арктический  Совет
					+e.col.col-6 
						+e.place Россия
						+e.text БРИКС
				+e.row-sm.row.pb-sm-0.pb-3
					+e.col.col-6 
						+e.place Россия
						+e.text Организация  исламского  сотрудничества
					+e.col.col-6 
						+e.place Россия
						+e.text Центрально-Азиатский регион

			.col-sm.order-md-last(class="wow  animate__fadeInRight  " )
				p 
					span Российско-Сербский молодежный  диалог
				p 
					span Год  креативной  экономики
				p 
					span Сообщество  молодых соотечественников, проживающих  за&nbsp;рубежом
		+sSupport({
			title: 'Грантовая поддержка участников',
			p:'Грантовый конкурс молодежных инициатив для российских участников',
			img: `support-1`,
			p2: "Грантовый конкурс Фонда поддержки публичной дипломатии имени А.М.Горчакова  для иностранной молодежи",
			img2: `support-2`
		})

		+sForMedia({
			h2:'Для СМИ',
			headText: `
			
			<div class="h3 strong "> Правила работы представителей СМИ на&nbsp;Международном молодежном форуме &laquo;Евразия Global&raquo; в&nbsp;2021 году</div>

<div class="h3 fw-400 ">В&nbsp;связи с&nbsp;особой эпидемиологической обстановкой в&nbsp;Российской Федерации, а&nbsp;также руководствуясь рекомендациями Роспотребнадзора, просим соблюдать простые правила: носить маски на&nbsp;территории Форума, а&nbsp;также соблюдать дистанцию 1,5&nbsp;метра.</div>

<div class="h3 fw-400">Также будет соблюден контроль температуры в&nbsp;качестве меры по&nbsp;предупреждению распространения коронавируса.</div>

<div class="h3 fw-400">В&nbsp;случае вашего неприбытия на&nbsp;форум, пресс-служба готова предоставить всю необходимую информацию в&nbsp;электронном виде (фото, видео, пресс-релизы, пост-релизы), для этого необходимо отправить запрос на&nbsp;эл.адрес <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>. </div>


<div class="h3 fw-400">При нахождении на&nbsp;территории форума необходимо соблюдать <a href="https://www.rospotrebnadzor.ru/about/info/news_time/news_details.php?ELEMENT_ID=13566" target="_blank">профилактические меры</a> и&nbsp;придерживаться всех правил форума. </div>
<br>
<br>
	<div class="h3 strong "> Аккредитация СМИ</div>
	<div class="h3 fw-400">Для работы на Международном молодежном форуме «Евразия Global» необходимо быть аккредитованным пресс-службой форума.</div>
			<div class="h3 fw-400">Для участия в мероприятии представителям СМИ (или их редакциям) необходимо <a href="https://disk.yandex.ru/i/IZUoPto_IkwziQ" >скачать форму</a>, заполнить ее и отправить на эл.адрес <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>. Форму необходимо заполнить на <strong>каждого</strong> представителя СМИ и сотрудника, пребывающего на территории (включая технический персонал, водителей, ассистентов).</div>
			
			`, 
			h40:`ВАЖНАЯ ИНФОРМАЦИЯ:`,
			list0: [
				`<strong>За&nbsp;24&nbsp;часа до&nbsp;приезда на&nbsp;форум, помимо аккредитации, прислать на&nbsp;эл.адрес <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a> сертификат вакцинации от&nbsp;COVID-19 или результат ПЦР-теста. В&nbsp;случае отсутствия медицинских данных, медиаслужба форума имеет право отказать в&nbsp;аккредитации и&nbsp;не&nbsp;пропустить на&nbsp;площадку.</strong>`,
				`<span class="tdu">В&nbsp;день посещения форума необходимо обязательно иметь с&nbsp;собой:</span> <br>
<strong>&mdash;&nbsp;Документ, удостоверяющий личность;</strong>
<br>
<strong>&mdash;&nbsp;Сертификат вакцинации от&nbsp;COVID-19 или результат ПЦР-теста, сделанного не&nbsp;позднее чем за&nbsp;72&nbsp;часа до&nbsp;приезда на&nbsp;площадку форума.</strong>`,
				`<strong>&mdash;&nbsp;Без аккредитации и&nbsp;медицинских данных (сертификат вакцинации/ ПЦР-тест) вход на&nbsp;территорию форума запрещен. Аккредитация осуществляется не&nbsp;позднее чем за&nbsp;24&nbsp;часа до&nbsp;прибытия на&nbsp;форум.</strong>
<span class="tdu">Администрация форума оставляет за&nbsp;собой право в&nbsp;отказе аккредитации представителям СМИ в&nbsp;возрасте старше 65&nbsp;лет, чтобы не&nbsp;подвергать рискам, связанными с&nbsp;COVID-19.</span>`,
				`&mdash;&nbsp;Все вопросы об&nbsp;аккредитации можно отправлять на&nbsp;<a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>.`
				],
			h4:`Для получения аккредитации:`,
			list: [
				`российским журналистам необходимо обладать удостоверением журналиста и&nbsp;находиться в&nbsp;штате зарегистрированного при Роскомнадзоре СМИ;`,
				`иностранным журналистам необходимо обладать аккредитацией при МИД&nbsp;РФ.`,
				`Информация о&nbsp;проходе доводится до&nbsp;сведения аккредитованных журналистов сотрудниками пресс-службы`,
				`Работа представителей СМИ на&nbsp;площадке согласовывается заранее и&nbsp;подтверждается пресс-службой форума;`,
				`Представители СМИ находятся на&nbsp;площадке в&nbsp;сопровождении пресс-службы форума. Медиаслужба форума правомочна отказать СМИ в&nbsp;предоставлении аккредитации его журналистам без объяснения причины.`
				],
			bodyText: `
				<div class="h3 strong "> Медиаслужба форума делится с&nbsp;вами полезными ресурсами: &mdash;&nbsp;фотографии доступны в&nbsp;наших <a href="https://vk.com/terrascientiaforum" target="_blank">социальных сетях.</a></div>
			`,
			h41:`Контактные данные для представителей СМИ<br> <span class="fw-400">Вы всегда можете позвонить нам:
</span>`,
			t1:`Анастасия Кандрахина`,
			p1:`специалист по работе со СМИ `,
			t2:`Анастасия Потычкина`,
			p2:`руководитель пресс-службы Форума `,
			emText:`или написать на почту:  `,
			emText2:`Мы&nbsp;будем рады ответить на&nbsp;все вопросы и&nbsp;сориентировать вас! `,
			items:[
				{
					title:`Подписка на обновления сайта Международного молодежного форума «Евразия Global»`,
					text1:`Вы можете подписаться на ежедневную тематическую рассылку, отправив запрос на эл.адрес: <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>`,
					text2:`Для включения в базу рассылки необходимо направить запрос на электронную почту, указав в теле письма название СМИ, регион, сайт издания, имя представителя СМИ, его сотовый телефон, а также должность отправителя запроса и адрес почты для рассылки. В теме письма указать: «Запрос на рассылку».` },
				{
					title:`Использование фотоматериалов пресс-службы форума`,
					text1:`Банк фотографий высокого разрешения доступен по отдельному запросу на адрес: <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>`,
					text2:`В теме письма указать: «Запрос на фото».
Фотоматериалы форума также обновляются в ежедневном формате и доступны на сайте forumeurasia.ru`,
					

				},
				{
					title:`Запрос на предоставление информации о делегациях регионов`,
					text1:`Представители региональных телеканалов могут направить запрос в пресс-службу форума на электронную почту <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a> о предоставлении видеоматериалов о делегации города или региона для включения материала в ротацию новостных выпусков.`,
					text2:`Срок и техническое задание предоставления материалов оговаривается по каждому запросу отдельно.
В теме письма указать «Запрос видеоматериала».
Требования к телеканалам: наличие официального свидетельства о регистрации СМИ.`,
				},
				


				{
					title:`Запрос на комментарий спикера форума`,
					text1:`Запрос на предоставление комментария спикера форума направляется на электронную почту <a href="mailto:eurasiayouthforum@gmail.com">eurasiayouthforum@gmail.com</a>.`,
					text2:`В теле письма указывается название СМИ, регион, сайт СМИ, имя спикера, тематика готовящегося материала, сам вопрос, а также имя, мобильный телефон и должность отправителя запроса. В теме письма указать «Запрос комментария спикера»`,

					


				},
			]
		})


		+sOrganizers({
			title: 'Организаторы форума',
			image1:'org-1.svg', 
			image2:'org-2.svg', 
			image3:'org-3.svg' 

		})
		+sForm({
			name:'Ваше имя',
			tel:'Номер телефона',
			email:'E-mail',
			text:'Ваш вопрос',
			btn:'Отправить',
			policy: `Соглашаюсь с&nbsp;условиями  <a href="#"> обработки персональных данных </a>`,
			t1:`Служба по&nbsp;работе  с&nbsp;участниками (РФ)`,
			t2:`Служба по&nbsp;работе  с&nbsp;иностранными участниками`,
			t3:`Волонтёрский  <br> корпус`,
		})
			h2 Остались вопросы?
			.h4 Задайте их&nbsp;нам и&nbsp;мы&nbsp;ответим Вам в&nbsp;кратчайшие сроки
		//- +sContact()
		+footer()
			+e.copy.col-auto © 2021. Международный молодежный форум «Евразия Global»
			.col-auto г.Оренбург ул. Девятого января 64

		
		+modal({
			title: "Выберите тип участия ",
			t1:"Участник Online",
			t2:"Волонтер форума",
			btn:"Зарегистрироваться",
			th: "Спасибо за вопрос, ",
			thp: "вернемся с ответом в ближайшее время!",
			text1: part.text1,
			text2: part.text2,
			li1: `После успешной регистрации на платформе выбирай вариант участия "Участник" или "Волонтер", мы перенаправим тебя на сайт grants.myrosmol.ru <br> <br> Авторизуйся, используя те же данные, которые вводил в АИС "Молодежь России"`,
			ol: part.ol,
			btnReg: part.btnReg,
		})





