mixin sPrograms(data)
	// start sPrograms
	+b.SECTION.sPrograms.section#sPrograms&attributes(attributes)
		.container
			+b.section-title
				h2 Деловая программа
				
			ul 
				li
					+e.li-inner Партнерства  в&nbsp;образовании  и&nbsp;развитии компетенций.  Новая роль человеческого потенциала.
				li
					+e.li-inner Кооперация и предпринимательское молодежное сотрудничество
				li
					+e.li-inner От&nbsp;осознанного потребления  к&nbsp;устойчивому  развитию. Задачи  и&nbsp;вызовы для молодежи, которая строит мир для  себя&nbsp;и&nbsp;своих  потомков
				li
					+e.li-inner Голос молодежи&nbsp;&mdash; современные  медиа и&nbsp;способы коммуникации
			a.btn.btn-outline-body(href="#") Зарегистрироватьcя
	// end sPrograms