mixin sSupport(data)
	// start sSupport
	+b.SECTION.sSupport.section#sSupport&attributes(attributes)
		.container
			+b.section-title
				h2 Грантовая поддержка участников
				
			.row
				+e.col.col-md-auto.order-md-last.text-center
					img(src="img/svg/support-1.svg", alt="")
				.col 
					+e.text Грантовый конкурс молодежных инициатив для российских участников
					
					
			.row
				+e.col.col-md-auto.order-md-last.text-center
					img(src="img/svg/support-2.svg", alt="")
				.col 
					+e.text Грантовый конкурс Фонда поддержки публичной дипломатии имени А.М.Горчакова  для иностранной молодежи

	// end sSupport