mixin sSupport(data)
	// start sSupport
	+b.SECTION.sSupport.section#sSupport&attributes(attributes)
		.container
			+b.section-title(class="wow  animate__fadeIn  " )
				h2= data.title
				
			.row(class="wow  animate__fadeIn  " )
				+e.col.col-md-auto.order-md-last.text-center
					a(href="https://grants.myrosmol.ru/auth/login" target="_blank"): img(src=`img/svg/${data.img}.svg`, alt="")
				.col 
					+e.text= data.p
					
					
			.row(class="wow  animate__fadeIn  " )
				+e.col.col-md-auto.order-md-last.text-center
					a(href="https://gorchakovfund.ru" target="_blank"): img(src=`img/svg/${data.img2}.svg`, alt="")
				.col 
					+e.text= data.p2

	// end sSupport