//- WP menu
mixin mnu()
	-
		var nav= { 
			"Что такое Евразия":"#",
			"Участникам":"#",
			"Связаться с нами":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName
		block

//- menu
//- /WP menu

