//- WP menu
mixin mnu(nav)
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement") 
		li.menu-item: a(href="#sAbout" )= nav.link1
		li.menu-item: a(href="#sMembers" )= nav.link2
		li.menu-item: a(href="#sForm" )= nav.link3
//- menu
//- /WP menu

